<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{0,756},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{400,756},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,756}</string>
                <key>textureRect</key>
                <string>{{800,756},{400,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Prof1.png</string>
            <key>size</key>
            <string>{1600,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539103b09a15e2ac410ff53e5c6e7f30:d24627870c09f0b0faaa1dc37924d581:c6c37577c38aa88a87093616849b4f57$</string>
            <key>textureFileName</key>
            <string>Prof1.png</string>
        </dict>
    </dict>
</plist>
