<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{139,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{139,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{139,123}</string>
                <key>textureRect</key>
                <string>{{139,0},{139,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{139,123}</string>
                <key>textureRect</key>
                <string>{{278,0},{139,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{139,123}</string>
                <key>textureRect</key>
                <string>{{417,0},{139,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>face2.png</string>
            <key>size</key>
            <string>{556,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47cef821a8914715594fa949a038848:e6fca623fdf39618a2a9aacdcfa3ff7f:c90349a86b392d3aef684a6973ce739d$</string>
            <key>textureFileName</key>
            <string>face2.png</string>
        </dict>
    </dict>
</plist>
